.App {
  text-align: center;
  color: #24292E;
}

.App-logo {
  height: 200px;
}

.App-header {
  background-color: #F9F9F9;
  color: #999999;
}

.App-header-content {
  margin-left: 100px;
  width: calc(100% - 200px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.App-header-nav {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
