body {
  background-color: #FBE9E7;
}

.App {
  display: flex;
  flex-flow: column;
}

.App-Content {
  width: 1024px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 140px);
  background-color: white;
  color: black;

  box-sizing: border-box;
  padding: 20px;
}